<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Organic</title>
    <meta name="theme-color" content="#fff">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
    <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
    <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
    <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="styles/main.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,700;1,700&family=Jost:wght@400;500&display=swap');
    </style>
</head>

<body>
    <section class="section-main">
        @@include("../blocks/modules/header/header.html")
        <div class="wrapper">
            <div class="main">
                <div class="main-text">
                    <h1 class="title">Здоровая еда - <br><span>это просто</span>!</h1>
                    <div class="ml">
                        <p class="main-text__description">Сеть магазинов полезных продуктов питания, производство
                            которых основано на принципах и&nbsp;стандартах органического чистых продуктов</p>
                        <a class="btn" href="">Перейти в каталог</a>
                    </div>
                </div>
                <div class="main-visual">
                    <div class="main-visual__image">
                        <img src="../img/image-main.png" alt="">
                    </div>
                    <button class="main-visual__btn main-visual__01">
                        Авокадо <span>134 руб</span>
                    </button>
                    <button class="main-visual__btn main-visual__02">
                        Картофель <span>169 руб</span>
                    </button>
                    <button class="main-visual__btn main-visual__03">
                        Томаты <span>215 руб</span>
                    </button>
                </div>
            </div>
        </div>
        <img class="section-main__image section-main__tomato" src="../img/tomato.png" alt="Tomato">
        <img class="section-main__image section-main__avocado" src="../img/avocado.png" alt="Avocado">
        <img class="section-main__image section-main__pepper" src="../img/pepper.png" alt="Pepper">
        <img class="section-main__image section-main__beans" src="../img/beans.png" alt="Beans">
        <img class="section-main__image section-main__cucumber" src="../img/cucumber.png" alt="Cucumber">
    </section>

    <section class="section-stock">
        <div class="wrapper">
            <h2 class="title">Что мы<br><span>предлагаем</span></h2>
            <p class="section-stock__text">Органика — это целостная система производства по-настоящему чистой,
                натуральной и полезной продукции</p>
            <div class="slider">
                <div class="slider-child">
                    <div class="slider-item slider-milk">
                        <div class="slider-text">
                            <h3 class="slider-text__title">Молочные продукты</h3>
                            <p class="slider-text__description">В наши дни появилась мода на здоровое питание, поэтому
                                на рынке питания разработали органическое молоко. Органическое молоко является продуктом
                                органического животноводства</p>
                            <a href="" class="slider-text__link">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="slider-child">
                    <div class="slider-item slider-pasta">
                        <div class="slider-text">
                            <h3 class="slider-text__title">Бакалея</h3>
                            <p class="slider-text__description">В наши дни появилась мода на здоровое питание, поэтому
                                на рынке питания разработали органическое молоко. Органическое молоко является продуктом
                                органического животноводства</p>
                            <a href="" class="slider-text__link">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="slider-child">
                    <div class="slider-item slider-steaks">
                        <div class="slider-text">
                            <h3 class="slider-text__title">Мясо, птица</h3>
                            <p class="slider-text__description">В наши дни появилась мода на здоровое питание, поэтому
                                на рынке питания разработали органическое молоко. Органическое молоко является продуктом
                                органического животноводства</p>
                            <a href="" class="slider-text__link">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="slider-child">
                    <div class="slider-item slider-milk">
                        <div class="slider-text">
                            <h3 class="slider-text__title">Молочные продукты</h3>
                            <p class="slider-text__description">В наши дни появилась мода на здоровое питание, поэтому
                                на рынке питания разработали органическое молоко. Органическое молоко является продуктом
                                органического животноводства</p>
                            <a href="" class="slider-text__link">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="slider-child">
                    <div class="slider-item slider-pasta">
                        <div class="slider-text">
                            <h3 class="slider-text__title">Бакалея</h3>
                            <p class="slider-text__description">В наши дни появилась мода на здоровое питание, поэтому
                                на рынке питания разработали органическое молоко. Органическое молоко является продуктом
                                органического животноводства</p>
                            <a href="" class="slider-text__link">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="slider-child">
                    <div class="slider-item slider-steaks">
                        <div class="slider-text">
                            <h3 class="slider-text__title">Мясо, птица</h3>
                            <p class="slider-text__description">В наши дни появилась мода на здоровое питание, поэтому
                                на рынке питания разработали органическое молоко. Органическое молоко является продуктом
                                органического животноводства</p>
                            <a href="" class="slider-text__link">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-advantage">
        <div class="wrapper">
            <h2 class="title">В чем наша<br><span>уникальность</span></h2>
            <div class="box-advantage">
                <div class="box-advantage-item">
                    <div class="ml">
                        <p class="box-advantage__text">Мы полностью контролируем весь цикл производства – от поля до
                            прилавка за счет собственной
                            серьезной материальной и научной базы. Наш подход направлен на высокие технологии и
                            достижение научного прогресса.</p>
                    </div>
                </div>
                <div class="box-advantage-item">
                    <ul class="box-advantage-list">
                        <li class="box-advantage-list__item box-advantage-list__health"><span></span>Здоровье</li>
                        <li class="box-advantage-list__item box-advantage-list__traditions"><span></span>Традиции</li>
                        <li class="box-advantage-list__item box-advantage-list__taste"><span></span>Вкус</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="section-news">
        <div class="wrapper">
            <h2 class="title">Наши <span>новинки</span></h2>
            <p class="section-news__text">Будь в тренде с современым миром, и будь здоров вместе с нами</p>
            <div class="section-news-slider">
                <div class="section-news-slider-child">
                    <div class="section-news-slider-item">
                        <div class="section-news-slider-item-thumb">
                            <img src="../img/bottle.png" alt="Milk" class="section-news-slider-item__image">
                        </div>
                        <div class="section-news-slider-item-text">
                            <h3 class="section-news-slider-item-text__title">Молоко топленое</h3>
                            <p class="section-news-slider-item-text__description">Молоко Healthy food топленое
                                мдж&nbsp;4%&nbsp;500гр</p>
                            <p class="section-news-slider-item-text__cost">159 руб/шт</p>
                            <div class="section-news-slider-item-buttons">
                                <button
                                    class="section-news-slider-item-buttons__quantity section-news-slider-item-buttons__minus"></button>
                                <input type="text" value="1" class="section-news-slider-item-buttons__count"
                                    readonly></input>
                                <button
                                    class="section-news-slider-item-buttons__quantity section-news-slider-item-buttons__plus"></button>
                                <button class="section-news-slider-item-buttons__add btn">в корзину</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-news-slider-child">
                    <div class="section-news-slider-item">
                        <div class="section-news-slider-item-thumb">
                            <img src="../img/egg.png" alt="Egg" class="section-news-slider-item__image">
                        </div>
                        <div class="section-news-slider-item-text">
                            <h3 class="section-news-slider-item-text__title">Яйцо перепелиное</h3>
                            <p class="section-news-slider-item-text__description">QEGG Яйцо перепелиное 20шт</p>
                            <p class="section-news-slider-item-text__cost">94 руб/упак</p>
                            <div class="section-news-slider-item-buttons">
                                <button
                                    class="section-news-slider-item-buttons__quantity section-news-slider-item-buttons__minus"></button>
                                <input type="text" value="1" class="section-news-slider-item-buttons__count"
                                    readonly></input>
                                <button
                                    class="section-news-slider-item-buttons__quantity section-news-slider-item-buttons__plus"></button>
                                <button class="section-news-slider-item-buttons__add btn">в корзину</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-news-slider-child">
                    <div class="section-news-slider-item">
                        <div class="section-news-slider-item-thumb">
                            <img src="../img/chicken.png" alt="Chicken" class="section-news-slider-item__image">
                        </div>
                        <div class="section-news-slider-item-text">
                            <h3 class="section-news-slider-item-text__title">Куриное филе Оссобуко</h3>
                            <p class="section-news-slider-item-text__description">Куриное филе Оссобуко (Ангус) охл
                                скин. В вакумной уапаковке</p>
                            <p class="section-news-slider-item-text__cost">1009 руб/кг</p>
                            <div class="section-news-slider-item-buttons">
                                <button
                                    class="section-news-slider-item-buttons__quantity section-news-slider-item-buttons__minus"></button>
                                <input type="text" value="1" class="section-news-slider-item-buttons__count"
                                    readonly></input>
                                <button
                                    class="section-news-slider-item-buttons__quantity section-news-slider-item-buttons__plus"></button>
                                <button class="section-news-slider-item-buttons__add btn">в корзину</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-news-slider-child">
                    <div class="section-news-slider-item">
                        <div class="section-news-slider-item-thumb">
                            <img src="../img/milk.png" alt="Milk" class="section-news-slider-item__image">
                        </div>
                        <div class="section-news-slider-item-text">
                            <h3 class="section-news-slider-item-text__title">Молоко топленое</h3>
                            <p class="section-news-slider-item-text__description">Молоко Healthy food топленое
                                мдж&nbsp;4%&nbsp;500гр</p>
                            <p class="section-news-slider-item-text__cost">159 руб/шт</p>
                            <div class="section-news-slider-item-buttons">
                                <button
                                    class="section-news-slider-item-buttons__quantity section-news-slider-item-buttons__minus"></button>
                                <input type="text" value="1" class="section-news-slider-item-buttons__count"
                                    readonly></input>
                                <button
                                    class="section-news-slider-item-buttons__quantity section-news-slider-item-buttons__plus"></button>
                                <button class="section-news-slider-item-buttons__add btn">в корзину</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-news-slider-child">
                    <div class="section-news-slider-item">
                        <div class="section-news-slider-item-thumb">
                            <img src="../img/egg.png" alt="Egg" class="section-news-slider-item__image">
                        </div>
                        <div class="section-news-slider-item-text">
                            <h3 class="section-news-slider-item-text__title">Яйцо перепелиное</h3>
                            <p class="section-news-slider-item-text__description">QEGG Яйцо перепелиное 20шт</p>
                            <p class="section-news-slider-item-text__cost">94 руб/упак</p>
                            <div class="section-news-slider-item-buttons">
                                <button
                                    class="section-news-slider-item-buttons__quantity section-news-slider-item-buttons__minus"></button>
                                <input type="text" value="1" class="section-news-slider-item-buttons__count"
                                    readonly></input>
                                <button
                                    class="section-news-slider-item-buttons__quantity section-news-slider-item-buttons__plus"></button>
                                <button class="section-news-slider-item-buttons__add btn">в корзину</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-news-slider-child">
                    <div class="section-news-slider-item">
                        <div class="section-news-slider-item-thumb">
                            <img src="../img/chicken.png" alt="Chicken" class="section-news-slider-item__image">
                        </div>
                        <div class="section-news-slider-item-text">
                            <h3 class="section-news-slider-item-text__title">Куриное филе Оссобуко</h3>
                            <p class="section-news-slider-item-text__description">Куриное филе Оссобуко (Ангус)
                                охл<br>скин. В вакумной уапаковке</p>
                            <p class="section-news-slider-item-text__cost">1009 руб/кг</p>
                            <div class="section-news-slider-item-buttons">
                                <button
                                    class="section-news-slider-item-buttons__quantity section-news-slider-item-buttons__minus"></button>
                                <input type="text" value="1" class="section-news-slider-item-buttons__count"
                                    readonly></input>
                                <button
                                    class="section-news-slider-item-buttons__quantity section-news-slider-item-buttons__plus"></button>
                                <button class="section-news-slider-item-buttons__add btn">в корзину</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-catalog">
        <div class="wrapper">
            <h2 class="title">Каталог</h2>
            <p class="section-catalog__text">Еда, которая заботится о вашей фигуре</p>
            <ul class="tab">
                <li class="tab-item"><a class="tab-link" href="">Молочные продукты</a></li>
                <li class="tab-item"><a class="tab-link" href="">Бакалея</a></li>
                <li class="tab-item"><a class="tab-link" href="">Мясо, птица</a></li>
                <li class="tab-item"><a class="tab-link" href="">Детям</a></li>
                <li class="tab-item"><a class="tab-link" href="">Овощи и фрукты</a></li>
            </ul>
            <div class="catalog">
                <div class="catalog-item">
                    <div class="catalog-item-thumb">
                        <img src="../img/catalog/bottle.png" alt="Milk" class="catalog-item__image">
                    </div>
                    <div class="catalog-item-text">
                        <h3 class="catalog-item-text__title">Молоко топленое</h3>
                        <p class="catalog-item-text__description">Молоко Healthy food топленое мдж&nbsp;4%&nbsp;500гр
                        </p>
                        <p class="catalog-item-text__cost">159 руб/шт</p>
                        <div class="catalog-item-buttons">
                            <button class="catalog-item-buttons__quantity catalog-item-buttons__minus"></button>
                            <input type="text" value="1" class="catalog-item-buttons__count" readonly></input>
                            <button class="catalog-item-buttons__quantity catalog-item-buttons__plus"></button>
                            <button class="catalog-item-buttons__add btn">в корзину</button>
                        </div>
                    </div>
                </div>
                <div class="catalog-item">
                    <div class="catalog-item-thumb">
                        <img src="../img/catalog/blueberry-yogurt.png" alt="Blueberry yogurt"
                            class="catalog-item__image">
                    </div>
                    <div class="catalog-item-text">
                        <h3 class="catalog-item-text__title">Йогурт с черникой</h3>
                        <p class="catalog-item-text__description">Йогурт Healthy food с черникой, питьевой 1,5%, 750 г
                        </p>
                        <p class="catalog-item-text__cost">89 руб/шт</p>
                        <div class="catalog-item-buttons">
                            <button class="catalog-item-buttons__quantity catalog-item-buttons__minus"></button>
                            <input type="text" value="1" class="catalog-item-buttons__count" readonly></input>
                            <button class="catalog-item-buttons__quantity catalog-item-buttons__plus"></button>
                            <button class="catalog-item-buttons__add btn">в корзину</button>
                        </div>
                    </div>
                </div>
                <div class="catalog-item">
                    <div class="catalog-item-thumb">
                        <img src="../img/catalog/cottage-cheese.png" alt="Cottage cheese" class="catalog-item__image">
                    </div>
                    <div class="catalog-item-text">
                        <h3 class="catalog-item-text__title">Творог</h3>
                        <p class="catalog-item-text__description">Творог Healthy food Рассыпчатый 9% 350 г</p>
                        <p class="catalog-item-text__cost">216 руб/шт</p>
                        <div class="catalog-item-buttons">
                            <button class="catalog-item-buttons__quantity catalog-item-buttons__minus"></button>
                            <input type="text" value="1" class="catalog-item-buttons__count" readonly></input>
                            <button class="catalog-item-buttons__quantity catalog-item-buttons__plus"></button>
                            <button class="catalog-item-buttons__add btn">в корзину</button>
                        </div>
                    </div>
                </div>
                <div class="catalog-item">
                    <div class="catalog-item-thumb">
                        <img src="../img/catalog/mozarella.png" alt="Mozarella" class="catalog-item__image">
                    </div>
                    <div class="catalog-item-text">
                        <h3 class="catalog-item-text__title">Моцарелла </h3>
                        <p class="catalog-item-text__description">Моцарелла Healthy food 45%,&nbsp;0.125 кг</p>
                        <p class="catalog-item-text__cost">359 руб/шт</p>
                        <div class="catalog-item-buttons">
                            <button class="catalog-item-buttons__quantity catalog-item-buttons__minus"></button>
                            <input type="text" value="1" class="catalog-item-buttons__count" readonly></input>
                            <button class="catalog-item-buttons__quantity catalog-item-buttons__plus"></button>
                            <button class="catalog-item-buttons__add btn">в корзину</button>
                        </div>
                    </div>
                </div>
                <div class="catalog-item">
                    <div class="catalog-item-thumb">
                        <img src="../img/catalog/butter.png" alt="Butter" class="catalog-item__image">
                    </div>
                    <div class="catalog-item-text">
                        <h3 class="catalog-item-text__title">Масло сливочное</h3>
                        <p class="catalog-item-text__description">Масло Healthy food сливочное 82,5%, 200г</p>
                        <p class="catalog-item-text__cost">139 руб/шт</p>
                        <div class="catalog-item-buttons">
                            <button class="catalog-item-buttons__quantity catalog-item-buttons__minus"></button>
                            <input type="text" value="1" class="catalog-item-buttons__count" readonly></input>
                            <button class="catalog-item-buttons__quantity catalog-item-buttons__plus"></button>
                            <button class="catalog-item-buttons__add btn">в корзину</button>
                        </div>
                    </div>
                </div>
                <div class="catalog-item">
                    <div class="catalog-item-thumb">
                        <img src="../img/catalog/thermostatic-yogurt.png" alt="Thermostatic yogurt"
                            class="catalog-item__image">
                    </div>
                    <div class="catalog-item-text">
                        <h3 class="catalog-item-text__title">Йогурт термостатный</h3>
                        <p class="catalog-item-text__description">Йогурт Healthy food термостатный
                            с&nbsp;фруктово-ягодным 2,5 %, 165 г</p>
                        <p class="catalog-item-text__cost">159 руб/шт</p>
                        <div class="catalog-item-buttons">
                            <button class="catalog-item-buttons__quantity catalog-item-buttons__minus"></button>
                            <input type="text" value="1" class="catalog-item-buttons__count" readonly></input>
                            <button class="catalog-item-buttons__quantity catalog-item-buttons__plus"></button>
                            <button class="catalog-item-buttons__add btn">в корзину</button>
                        </div>
                    </div>
                </div>
                <div class="catalog-item">
                    <div class="catalog-item-thumb">
                        <img src="../img/catalog/cheese.png" alt="Cheese" class="catalog-item__image">
                    </div>
                    <div class="catalog-item-text">
                        <h3 class="catalog-item-text__title">Сыр</h3>
                        <p class="catalog-item-text__description">Сыр Healthy food Сливочный 45% 200г </p>
                        <p class="catalog-item-text__cost">559 руб/шт</p>
                        <div class="catalog-item-buttons">
                            <button class="catalog-item-buttons__quantity catalog-item-buttons__minus"></button>
                            <input type="text" value="1" class="catalog-item-buttons__count" readonly></input>
                            <button class="catalog-item-buttons__quantity catalog-item-buttons__plus"></button>
                            <button class="catalog-item-buttons__add btn">в корзину</button>
                        </div>
                    </div>
                </div>
                <div class="catalog-item">
                    <div class="catalog-item-thumb">
                        <img src="../img/catalog/sauce.png" alt="Sauce" class="catalog-item__image">
                    </div>
                    <div class="catalog-item-text">
                        <h3 class="catalog-item-text__title">Соус для салата</h3>
                        <p class="catalog-item-text__description">Соус для салата Healthy food пикантыный 4% 70гр</p>
                        <p class="catalog-item-text__cost">59 руб/шт</p>
                        <div class="catalog-item-buttons">
                            <button class="catalog-item-buttons__quantity catalog-item-buttons__minus"></button>
                            <input type="text" value="1" class="catalog-item-buttons__count" readonly></input>
                            <button class="catalog-item-buttons__quantity catalog-item-buttons__plus"></button>
                            <button class="catalog-item-buttons__add btn">в корзину</button>
                        </div>
                    </div>
                </div>
            </div>
            <button class="section-catalog__button">загрузить еще</button>
        </div>
    </section>

    <section class="section-delivery">
        <div class="wrapper">
            <h2 class="title">Доставка и <span>оплата</span></h2>
            <div class="box-delivery">
                <div class="box-delivery-item">
                    <div class="ml">
                        <p class="box-delivery__text">Мы доставляем ваши заказы курьером в специально оборудованном
                            транспорте.</p>
                        <p class="box-delivery__text">Компания Healthly food предлагает самые удобные и быстрые способы
                            доставки по всей стране. Посмотреть подробные условия и географию вы можете по этой <a
                                class="box-delivery__link" href="">ссылке</a></p>
                    </div>
                </div>
                <div class="box-delivery-item">
                    <p class="box-delivery__text">Вы можете оплатить заказ наличными или картой курьеру, либо
                        воспользоваться функцией онлайн-оплаты и получить <span
                            class="box-delivery__span">скидку&nbsp;5%.</span></p>
                    <ul class="box-delivery-list">
                        <li class="box-delivery-list__item box-delivery-list__mc"></li>
                        <li class="box-delivery-list__item box-delivery-list__visa"></li>
                        <li class="box-delivery-list__item box-delivery-list__paypal"></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="section-form">
        <div class="wrapper">
            <div class="box-form">
                <div class="box-form-item">
                    <h2 class="title">Не смогли<br><span>определиться?</span></h2>
                    <div class="ml">
                        <p class="box-form-text">Если у вас остались вопросы, вы можете задать отправить нам ваши данные. Наши менеджеры
                            свяжутся с вами в течениe рабочего дня.</p>
                            <ul class="box-form-list">
                                <li class="box-form-list__item box-form-list__tel"><a class="box-form-list__link" href="tel:+79453425555">+7 945 342 55 55</a></li>
                                <li class="box-form-list__item box-form-list__email"><a class="box-form-list__link" href="mailto:healthlyfood@mail.ru">healthlyfood@mail.ru</a></li>
                            </ul>
                    </div>
                </div>
                <div class="box-form-item">
                    <form class="form">
                        <h3 class="form__h3">Свяжитесь с нами</h3>
                        <label for="" class="form__label">Ваше имя</label>
                        <input type="text" class="form__input" placeholder="Ваше имя">
                        <label for="" class="form__label">Ваш телефон</label>
                        <input type="text" class="form__input" placeholder="Ваш телефон">
                        <button class="btn">заказать звонок</button>
                        <p class="form__text">Нажимая на кнопку вы подтверждаете свое согласие на обработку <a class="form__link" href="">персональных данных</a>.</p>
                    </form>
                </div>
            </div>
        </div>
        @@include("../blocks/modules/footer/footer.html")
    </section>



    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script>
        $('.slider').slick({
            dots: false,
            arrows: true,
            infinite: false,
            speed: 300,
            slidesToShow: 3,
            slidesToScroll: 1,
            responsive: [
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                }
            ]
        });
        $('.section-news-slider').slick({
            dots: false,
            arrows: true,
            infinite: false,
            speed: 300,
            slidesToShow: 3,
            slidesToScroll: 1,
            responsive: [
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                }
            ]
        });
        $(document).ready(function () {
            $('.section-news-slider-item-buttons__minus').click(function () {
                var $input = $(this).parent().find('input');
                var count = parseInt($input.val()) - 1;
                count = count < 1 ? 1 : count;
                $input.val(count);
                $input.change();
                return false;
            });
            $('.section-news-slider-item-buttons__plus').click(function () {
                var $input = $(this).parent().find('input');
                $input.val(parseInt($input.val()) + 1);
                $input.change();
                return false;
            });
        });
        $(document).ready(function () {
            $('.catalog-item-buttons__minus').click(function () {
                var $input = $(this).parent().find('input');
                var count = parseInt($input.val()) - 1;
                count = count < 1 ? 1 : count;
                $input.val(count);
                $input.change();
                return false;
            });
            $('.catalog-item-buttons__plus').click(function () {
                var $input = $(this).parent().find('input');
                $input.val(parseInt($input.val()) + 1);
                $input.change();
                return false;
            });
        });
    </script>
    <script src="js/main.js"></script>
    <script src="js/vendor.js"></script>
</body>

</html>