.footer {
    border-top: 1px solid rgba($gray, $alpha) ;
    padding-top: 86px;
    padding-bottom: 83px;
    @media (max-width:990px) {
        padding-top: 41px;
        padding-bottom: 35px;
        text-align: center;
    }
    .logo {
        width: 179px;
        height: 48px;
        @media (max-width:990px) {
            margin: 0 auto 26px;
        }
        @media (max-width:790px) {
            width: 120px;
            height: 32px;
        }
    }
}
.box-footer {
    display: flex;
    justify-content: space-between;
    @media (max-width:990px) {
        flex-direction: column;
    }
    &-item {
        display: flex;
        justify-content: space-between;
        flex: 0 0 66%;
        @media (max-width:1210px) {
            flex: 0 0 75%; 
        }
        @media (max-width:990px) {
            flex-direction: column;
        }
    }
    &-links {
        @media (max-width:990px) {
            display: flex;
            justify-content: center;
            li {
                margin-right: 30px;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
    &-social {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
        margin-top: 31px;
        @media (max-width:990px) {
            justify-content: center;
            li {
                margin-right: 30px;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
        @media (max-width:790px) {
            margin-top: 38px;
        }
        &__item {
            span {
                display: block;
                width: 47px;
                height: 47px;
                border: 2px solid $gray;
                border-radius: 100%;
                background-repeat: no-repeat;
                background-position: center center;
                opacity: 0.8;
                transition: 0.2s ease;
                &:hover {
                    opacity: 1;
                }
                @media (max-width:790px) {
                    width: 50px;
                    height: 50px;
                }
            }
        }
        &__vk {
            span {
                background-size: 24px 24px;
                background-image: url(../../../img/social/vk.svg);
            }
        }
        &__ig {
            span {
                background-size: 18px 18px;
                background-image: url(../../../img/social/instagram.svg);
            }
        }
        &__fb {
            span {
                background-size: 18px 18px;
                background-image: url(../../../img/social/facebook.svg);
            }
        }
    }
    &-list {
        list-style-type: none;
        &__item {
            font-size: 1.12rem;
            margin-bottom: 25px;
            @media (max-width:990px) {
                font-size: 1.5rem;
            }
            @media (max-width:790px) {
                font-size: 0.75rem;
                margin-bottom: 22px;
            }
        }
        &__worktime {
            @media (max-width:790px) {
                margin-bottom: 8px;
            }
        }
        &__link {
            color: $gray;
            text-decoration: none;
            &:hover {
                color: $gray;
                text-decoration: none;
            }
        }
        &__tel {
            margin-bottom: 31px;
            @media (max-width:790px) {
                margin-top: 17px;
                margin-bottom: 0;
            }
        }
        &__phone {
            font-size: 1.68rem;
            @media (max-width:790px) {
                font-size: 1.87rem;
            }
        }
        &__phone, &__email {
            transition: 0.2s ease;
            &:hover {
                color: $orange;
            }
        }
    }
}
.box-copyright {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    @media (max-width:990px) {
       flex-direction: column;
    }
    @media (max-width:790px) {
        margin-top: 27px;
    }
    &__copy {
        margin-bottom: 0;
    }
    p, span, &__link {
        opacity: 0.6;
        @media (max-width:990px) {
            font-size: 1.3rem;
        }
        @media (max-width:790px) {
            font-size: 0.62rem;
        }
    }
    &__link {
        color: $gray;
        text-decoration: none;
        transition: 0.2s ease;
        &:hover {
            opacity: 1;
            color: $gray;
            text-decoration: none;
        }
    }
}
